/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*{  /*Universal Setting*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px; /*Includes the white padding around the whole body on all 4 sides*/
}


/***************HEADER*******************/
.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, /*This is to specify the direction of the gradient*/
        rgba(127, 214, 112, 0.8),/*The last parameter is the opacity of the gradient.It is lowered to show the background image also*/
        rgb(40, 180, 133, 0.8)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top; /*Top stays the same when the size is changed*/
    position: relative;

    /*To make the wedge of cutting the header we need to use the clip-path property. 
        Checkout https://bennettfeely.com/clippy/ for more shapes and figures*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*Using the vh property because if the size changes the shope remains intact*/
}
.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo{
        height: 35px;
}
.text-box{
    position: absolute;
    top: 40%; /*both top and left arein relation to the parent element so it starts after 40% from the top*/
    left: 50%;/*and 50% space is left on the left hand side and then the container starts*/
    /* background-color: red; */
    transform: translate(-50%, -50%); /*VVIP-It is in relation to the element itself. This is to reduce the 50% of the x and y axis width because the left top corner of this box is */
    /* exactly at the center of the main div and we are reducing the half of the box to make it in center*/
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; /*Ill-effects after animations are done make it look bad.So it is hidden*/
}
.heading-primary-main{
    display: block; /*span elements are inlilne elements by default and we make them block because*/
    font-size: 60px;/*they take the full 100% of the width*/
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: movefromLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.heading-primary-sub{
    display: block;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 14.6px; /*Space out the letters to make them equal to the main heading*/
    animation-name: movefromRight 2s ease-out;
}

/***Animations***/
@keyframes movefromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px); /*To let it stay 100pixels backward*/
    }
    80%{
        transform: translateX(10px); /*This would mean that after 80% there is additional 10px towards right.
                                        this would mean that after 100% it would add an effect of going forward and coming back*/
    }
    100%{
        transform: translateX(0); /*To stay in the initial position after 100% animation*/
    }
}
@keyframes movefromRight{
    0%{
        opacity: 0;
        transform: translateX(100px); 
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0); 
    }
}