@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/animations";
@import "base/utilities";

@import "components/button";
@import "components/composition"; 
@import "components/feature-box"; 
@import "components/card";
@import "components/story";
@import "components/_bg-video";
@import "components/_form";

@import "layout/_header";
@import "layout/_grid";
@import "layout/_footer";


@import "pages/home";

//Sass variables going inside the variables file


/*Universal Setting are going udner base settings*/


/**HEADER has gone to layout and its heading properties have gone to the typography**/

/***Animations have gone to animations***/

