.btn--animated  {
    animation: movefromBottom 1s ease-out;
    animation-fill-mode: backwards;
}


.btn{
    
    &:link, /*To make the visited link look just like unvisited*/
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block; /*It is an inline element so it will be treated as a text and not a box*/
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 2rem;
    }

    &:hover {
        transform: translateY(-3px); /*Button moves up 3px to show that it is active*/
        box-shadow: 0 1rem 2rem rgba($color-black, .2); /*0 is for x direction shadow and y is for below. 
                                                    20px assigned is the height of the shadow and the last value in the rgba is the opacity of black color*/
        &::after {
            transform: scaleX(1.5) scaleY(1.5); /*To increase the size of the button on hover state*/ 
            opacity: 0; /*Sets to invisible*/
        }
    }
                                                
    &:active {
        transform: translateY(-1px); /*To show that the button is clicked and a slight downward action is shown*/
        box-shadow: 0 .5rem 1rem rgba($color-black , .2);
    }

    &--white {
        background-color:$color-primary;
        color: $color-grey-dark;
        /***Additonal button effect.Pops out from the bottom.Optional***/
            &::after  {
                background-color: $color-white;
            }
    }

    &--green{
        background-color: $color-primary;
        color: $color-grey-dark;

        &::after {
            background-color: $color-primary;
            }
    }
    

    &::after  {
    content: ""; /*Mandatory to specify the contents*/
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*Behind the button*/
    transition: all .4s ;
    }


}

.btn-text{
    &:link, &:visited{
        font-size: 1.6rem;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px); //to move the button 2px above while hovering
    }

    &:active{
        box-shadow: 0 .5rem 2rem rgba($color-black, .15);
        transform: translateY(0); //to move the button 2px above while hovering
    }
}
