@keyframes movefromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem); /*To let it stay 100pixels backward*/
    }
    80% {
        transform: translateX(1rem); /*This would mean that after 80% there is additional 10px towards right.
                                        this would mean that after 100% it would add an effect of going forward and coming back*/
    }
    100% {
        transform: translateX(0); /*To stay in the initial position after 100% animation*/
    }
}
@keyframes movefromRight {
    0% {
        opacity: 0;
        transform: translateX(10rem); 
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0); 
    }
}
@keyframes movefromBottom  {
    0% {
        opacity: 0;
        transform: translateY(3rem); 
    }
    100% {
        transform: translateX(0); 
    }
}